<!doctype html>
<html lang ="en">

  <head>
    <meta charset="utf-8">
    <title>Foam: A Beer App</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
  </head>

  <body>
    <header>
      <!-- Nav bar and body load partial handlebars -->
      {{> nav/navbar}}
    </header>


    <main class="uk-container">
      <!-- Load Main HTML here -->
      {{{ body }}}
    </main>

    <div class="uk-offcanvas-content">
      <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
        <div id="offcanvas-nav" uk-offcanvas="overlay: true">
          <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default">
              <li class="uk-nav-header">
                <img class="uk-margin-small-right" data-src="../assets/images/beer.png" width="30" height="50" alt="" uk-img> Foam
              </li>
              <li class="uk-nav-divider"></li>

              <li class="uk-active">
                <a href="#">Home</a>
              </li>

              <li>
                <a href="/db">View DB</a>
              </li>

              <li>
                <a href="/about">About Us</a>
              </li>

              <li>
                <a href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <footer class="uk-section uk-section-small" style="margin-bottom: 60px">
			<div class="uk-container">
				<p class="footer uk-text-small uk-text-center">&copy; 2018 - <a href="/">Foam</a> | <a href="https://www.github.com/bnolan56/Project2" uk-icon="icon: github"></a></p>
			</div>
		</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit-icons.min.js"></script>
    <!-- Initialize JS -->
    <script src="../assets/js/init.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
<html>
