<div class="uk-section">
  <h2 class="uk-heading-line">404 Not Found</h2>

  <p>Uhoh! Looks like you've stumbled away from the beer. Click below to go back to the database!</p>
  <a href="/">â†Back To Home</a>
  <br />
  <img class="uk-align-center" width="400" height="450" src="../assets/images/404.svg"/>

</div>
