<div class="uk-section">
  <h2 class="uk-heading-line">About Us</h2>

  <p class="uk-text-lead">We are two guys who really like beer.</p>

  <p>Hi there! We're Foam, a beer database! We are here to show thousands of beer styles, beer names and breweries for your informational needs.
    If you'd like to contact us or be featured in our database, why not give us <strong><a href="/contact">shout</a></strong> to be included. In the meantime, check out our bios below!</p>

  <h2 class="uk-heading-line">Foam Beer Connoisseurs</h2>

  <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
          <img class="uk-comment-avatar" src="../assets/images/prof-pic.jpg" width="80" height="80" alt="">
      </div>
      <div class="uk-width-expand">
          <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Brad Nolan</a></h4>
          <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
              <li>Co-Founder</li>
              <li>UX/UI Designer</li>
          </ul>
      </div>
  </header>
  <div class="uk-comment-body">
      <p>Our resident graphic designer from the streets of Baltimore, Maryland. Raven Fan and sexy to boot. When not drinking beer, you can catch Brad either fly fishing the South Platte River or kayaking around Bear Creek Lake.</p>
  </div>

  <br />

  <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
          <img class="uk-comment-avatar" src="../assets/images/will-pic.jpg" width="80" height="80" alt="">
      </div>
      <div class="uk-width-expand">
          <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Will Stearns</a></h4>
          <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
              <li>Co-Founder</li>
              <li>Back-end Developer</li>
          </ul>
      </div>
  </header>
  <div class="uk-comment-body">
      <p>Web developer originally from North Kingstown, Rhode Island. When not coding you can find me playing music, hiking and snowboarding depending on the season.</p>
  </div>
</div>
