<div class="uk-section">
  <h2 class="uk-heading-line">Have a question? Want to feature your brewery?</h2>

  <p class="uk-text-lead">Let us know below and we'll get back to you as soon as possible.</p>

  <div class="formDiv">
    <form>
      <fieldset class="uk-fieldset">
        <div class="uk-margin">
          <div class="uk-inline uk-width-1-1">
            <a class="uk-form-icon" href="#" uk-icon="icon: pencil"></a>
            <input class="uk-input" type="text" placeholder="Email Address">
          </div>
        </div>

        <div class="uk-margin">
          <select class="uk-select">
            <option value="">What type of inquiry do you have</option>
            <option value="1">I have a general question</option>
            <option value="2">I want to be featured in Foam DB</option>
            <option value="3">I'd like to report a bug</option>
            <span uk-icon="icon: chevron-down"></span>
          </select>
        </div>

        <div class="uk-margin">
          <textarea class="uk-textarea" rows="5" placeholder="What's on your mind?"></textarea>
        </div>
      </fieldset>
    </form>
    <button id="formSubmit" type="submit" name="action" class="center uk-button uk-button-primary uk-button-large uk-width-large">Send</button>
  </div>

</div>
