<div class="uk-section">
	<h1 class="uk-heading">Welcome to Foam: A Beer Database</h1>


  <div class="uk-alert-primary" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p>Foam is an on-going beer database with new beers, beer styles and breweries being updated weekly. Tap 'X' to dismiss this message</p>
  </div>

  <h2 class="uk-heading-line">Our Goals</h2>
	<p>The main goal of Foam is to provide a comprehensive <strong><a href="/db">beer database</a></strong>, with a solid UI foundation to view information.</p>

  <h2 class="uk-heading-line">Want to add your brewery?</h2>
	<p>If you'd like your beer, micro-brews or brewery featured in Foam, shoot us a <strong><a href="/contact">message</a></strong>, and we'll get back to you as quickly as possible to set up the on-boarding process!
    In the coming months we will implement our user submission service, so potential brewers and newcomers alike can create user submitted content.</p>
</div>
