/*** Global CSS ***/
body,html {
margin: auto;
background-color: #E4E3D3;
font-family: 'Arvo', serif;
}

.uk-comment-avatar {
  border-radius: 50%;
}

/*** Navigation ***/
.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: #C3C49E;
}

.uk-navbar-nav>li>a {
  font-family: 'Arvo', serif;
  position: relative;
  color: #323e52;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color,background-color;
}

.uk-navbar-nav>li>a:hover {
  color: #323e52;
  font-weight: bold;
}

.uk-navbar-nav>li>a:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 28px;
  left: 12px;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.uk-navbar-nav>li>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.uk-navbar-toggle.uk-open, .uk-navbar-toggle:focus, .uk-navbar-toggle:hover {
  color: #323e52;
  outline: 0;
  text-decoration: none;
}

.uk-search-input {
  font-family: 'Arvo', sans-serif;
  color: #323e52;
}

.uk-navbar-toggle {
  color: #323e52;
}

/*** Typography ***/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Arvo', serif;
  font-weight: bold;
}

.uk-logo {
  font-family: 'Arvo', serif;
  font-weight: bold;
  color: #323e52;
}

.uk-logo:hover {
  color: #323e52;
}

ul, li {
  list-style-type: none;
}

a {
  color: #003366;
}

input::placeholder {
  font-family: 'Arvo', serif;
  font-size: 18px;
  color: #323e52 !important;
}

.alcohol-stats {
  font-size: 24px;
  color: #323e52;
}

/*** Tables ***/

.uk-table th {
  color: #524632;
}
tr {
  border-bottom: 1px solid #c9bca6 !important;
}

.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd) {
  background: #f7f7f3;
}

/*** Contact Form ***/

.uk-input {
  background-color: #fafaf7;
}

/*** Footer ***/

.footer {
  height: 50px;
  margin-top: 0;
}
